.leftside {
  height: 100%;
  width: 200px;
  position: fixed;
  overflow-x: hidden;
  top: 0;
  left: 0;
}
.rightside {
  float: right;
  height: 100%;
  width: 200px;
  position: fixed;
  overflow-x: hidden;
  top: 0;
  right: 0;
}
main {
  margin-left: 200px;
  margin-right: 200px;
  min-width: 200px;
}

h1 {
  text-align: center;
}

nav {
  top: 0;
  background-color: gray;
  padding-top: 10px;
  padding-bottom: 10px;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  color: black;
}

a:hover {
  color: red;
}

@media screen and (max-width: 1460px) {
  ul {
    list-style-type: none;
    background-color: gray;
  }

  li{
    float: none;
    margin: 0;
  }

  li a {
    display: block;
    color: black;
    padding: 8px 0 8px;
    text-decoration: none;
    border-bottom: 1px solid black;
  }
  .borderfix a:last-child{
    border-bottom: none;
  }
}
