html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: lightgray;
}

/**index page**/
.leftside {
  background-image: url('../images/test.png');
  padding-bottom: 100%;
  padding-left: 200px;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
}

.rightside {
  background-image: url('../images/test2.png');
  padding-bottom: 100%;
  float: right;
  padding-right: 200px;
  position: fixed;
  top: 0;
  right: 0;
}

header {
  margin-top: 10px;
  margin-left: 200px;
  margin-right: 200px;
  min-width: 200px;
}

main {
  position: static;
  height: auto;
  padding-left: 300px;
  padding-right: 300px;
  padding-top: 80px;
  font-size: 24px;
}

nav {
  background-color: darkred;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  border-bottom: 2px solid black;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  color: lightgray;
}

a:hover {
  background-color: white;
  color: black;
  border-radius: 6px;
}

main img {
  display: block;
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 105px;
  border: 1px solid black;
  border-radius: 50%;
}

/**Projects page**/
.clonehero {
  border: 2px solid gray;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.recreate {
  border: 2px solid gray;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.practice {
  border: 2px solid gray;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.lancer {
  border: 2px solid gray;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.info {
  margin: 0;
  margin-top: 15px;
}

.clonehero a img {
  border-radius: 1%;
  margin-bottom: 50px;
  border: 2px solid lightgray;
}

.recreate a img {
  border-radius: 1%;
  margin-bottom: 50px;
  border: 2px solid lightgray;
}

.practice a {
  text-decoration: none;
  color: blue;
}

.lancer a img {
  border-radius: 1%;
  margin-bottom: 50px;
  border: 2px solid lightgray;
}

.clonehero img:hover {
  border: 2px solid blue;
}

.recreate img:hover {
  border: 2px solid blue;
}

.lancer img:hover {
  border: 2px solid blue;
}

/**contact page**/

.mail img {
  width: 50px;
  height: 50px;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
}

.git img {
  width: 50px;
  height: 50px;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
}

.codepen img {
  width: 50px;
  height: 50px;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
}

.mail p {
  text-align: center;
  margin-bottom: 100px;
}

.git p {
  text-align: center;
    margin-bottom: 100px;
}

.codepen p {
  text-align: center;
}
/**media query to fix resize issues**/
@media screen and (max-width: 850px) {
  ul {
    margin: 0;
    padding: 0;
    display: block;
  }

  li a {
    display: block;
    color: lightgray;
    padding: 8px 16px;
    border-bottom: 1px solid black;
    text-decoration: none;
  }

  .borderfix a:last-child {
    border-bottom: none;
  }

  main {
    padding-left: 250px;
    padding-right: 250px;
    font-size: 16px;
  }

  .leftside {
    height: 100%;
  }

  .rightside {
    height: 100%;
  }
}
